.plinko-board {
    width: 800px;
    height: 600px;
    background-color: rgb(14, 33, 46);
    margin: auto;
    position: relative;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 16px;
  }
  
  .bet-button {
    padding: 10px 20px;
    background-color:#68e81d;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor:pointer;
  }
  
 
  .box-label {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 540px;
    color: black;
    font-size: 14px;
    pointer-events: none;
    transform: translateX(-50%);
   }
  
