.plinko-board {
    width: 800px;
    height: 600px;
    background-color: rgb(14, 33, 46);
    margin: auto;
    position: relative;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 16px;
  }
  
  .bet-button {
    padding: 10px 20px;
    background-color: #e8b31d;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  