.plinko-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
  }
  .plinko-row {
    display: flex;
    justify-content: center;
    gap:20px;
    margin:10px;
  } 
  .dot {
    width: 10px;
    height: 10px;
    background-color: rgb(211, 207, 207);
    border-radius: 50%;
    margin: 0 8px;
  }
  .slots {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  
  }
  .slot {
    margin: 0 4px;
    background-color: rgb(169, 61, 28);
    padding:10px;
    border-radius: 5px;
  }
  
  .bet-button{
    margin-top:2%;
    width:5vw;
    background-color: rgb(35, 241, 172);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;    
    border: none;
    &:hover{
        background-color: rgb(93, 152, 133);
    }
}




 